*{
    padding:0;
    margin:0;
    font-weight:500px;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://images.pexels.com/photos/34676/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
nav{
   float:right;
   list-style: none;
   margin-top:30px;  
}
nav li{
    display:inline-block;
}
nav li a{
    color:lightcoral;
    text-decoration: none;
    padding: 5px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:bolder;
    
}
nav a:hover{
    border:2px solid lightcoral;
}

h1{
    font-family:monospace;
    padding-top:200px;
    text-align:center;
    color:lightslategrey;

}
#one{
    text-align:center;
    padding-top:20px;
    color:lightslategrey;
    font-size:20px;
    font-family:cursive;
    font-weight: bold;


}
#two {
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: 30px;
    line-height:1.8;
}
#two a{
    text-decoration-color: coral;
    color:gray;
}
#three{
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: 30px;
    line-height:1.8;
}
p{
    color:lightblue;
}
.third{
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: 30px;
    line-height:1.8; 
    text-align: center;
}
.third a{
    display:inline;color: darkgrey;
    font-size:25px;
    margin: 0 5px;
    text-align: center;
 }
 h3{
     font-size: 20px;
     color: lightcoral;
 }
 h2{
    font-size: 30px;
     color: lightcoral; 
 }